.sidenav-container {
  background: #fff;
  height: 100%;

  mat-sidenav {
    background: #f1f3f1;
    width: 13%;
    height: 100%;

  }

.box-avatar {
  display: flex;
  height: 20%;
  border: 1px solid blue;
  }

}
