.example-header-image {
    background-image: url('../../../assets/img/mecanico-de-desenho-animado-segurando-uma-chave-enorme_61878-756.jpg');
    background-size: cover;
  }



input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}