<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started-->
<!-- <header>
   <h1>Header</h1>
</header>

<body>
  <app-menu-left></app-menu-left>
</body>

<footer>
  <H1>Rodape</H1>
</footer>

 -->
<app-login *ngIf="loginService.habilitado === false"></app-login>
<app-root-nav *ngIf="loginService.habilitado">
  <router-outlet></router-outlet>
</app-root-nav>
