<div class="container-fluid justify-content-center">
  <div class="row">
    <div class="col-12">
      <mat-toolbar class="toolbar-custom">Cadastro de Cliente</mat-toolbar>
      <br>
      <mat-divider></mat-divider>
      <form [formGroup]="formularioCliente">
        <div class="container-fluid">
          <div class="row">
            <mat-card class="container-fluid">
              <mat-card-header>
                <mat-card-title>
                  Dados Pessoais
                </mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <div class="row" style="margin-left: 5%">
                <div class="col-2 float-lg-left">
                  <mat-form-field appearance="legacy">
                    <mat-label>Cpf/Cpnj</mat-label>
                    <input matInput type="text" formControlName="cpfCnpj" [mask]="getCpfCnpjMask()" required>
                    <mat-error
                      *ngIf="formularioCliente.controls['cpfCnpj'].hasError('required')"> {{ 'Campo obrigatório.'}}
                    </mat-error>
                    <button mat-button *ngIf="formularioCliente.controls['cpfCnpj'].value" matSuffix mat-icon-button
                            aria-label="Clear" (click)="formularioCliente.controls['cpfCnpj'].reset()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-2 float-lg-right">
                  <mat-form-field appearance="legacy">
                    <mat-label>Nome/Razão Social</mat-label>
                    <input matInput formControlName="nome" required>
                    <mat-error
                      *ngIf="formularioCliente.controls['nome'].hasError('required')"> {{ 'Campo obrigatório.'}}
                    </mat-error>
                    <button mat-button *ngIf="formularioCliente.controls['nome'].value" matSuffix mat-icon-button
                            aria-label="Clear" (click)="formularioCliente.controls['nome'].reset()">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div class="col-8">
                  <button class="float-right" [disabled]="!habilitarVeiculos" type="button" mat-raised-button (click)="goVeiculos()"
                          color="primary">
                    <mat-icon>playlist_add</mat-icon>
                    Veiculos
                  </button>
                </div>

              </div>
              <mat-card-header>
                <mat-card-title>
                  Endereço
                </mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <form [formGroup]="formularioEndereco">
                <div class="row" style="margin-left: 5%">
                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>CEP</mat-label>
                      <input matInput formControlName="cep" required>
                      <mat-error
                        *ngIf="formularioEndereco.controls['cep'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioEndereco.controls['cep'].value" matSuffix mat-icon-button
                              aria-label="Clear" (click)="formularioEndereco.controls['cep'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>Rua</mat-label>
                      <input matInput formControlName="logradouro" required>
                      <mat-error
                        *ngIf="formularioEndereco.controls['logradouro'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioEndereco.controls['logradouro'].value" matSuffix
                              mat-icon-button aria-label="Clear"
                              (click)="formularioEndereco.controls['logradouro'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>Número</mat-label>
                      <input matInput formControlName="numero" required>
                      <mat-error
                        *ngIf="formularioEndereco.controls['numero'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioEndereco.controls['numero'].value" matSuffix mat-icon-button
                              aria-label="Clear" (click)="formularioEndereco.controls['numero'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>Bairro</mat-label>
                      <input matInput formControlName="bairro" required>
                      <mat-error
                        *ngIf="formularioEndereco.controls['bairro'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioEndereco.controls['bairro'].value" matSuffix mat-icon-button
                              aria-label="Clear" (click)="formularioEndereco.controls['bairro'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>UF</mat-label>
                      <input matInput formControlName="uf" required>
                      <mat-error
                        *ngIf="formularioEndereco.controls['uf'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioEndereco.controls['uf'].value" matSuffix mat-icon-button
                              aria-label="Clear" (click)="formularioEndereco.controls['uf'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>Cidade</mat-label>
                      <input matInput formControlName="cidade" required>
                      <mat-error
                        *ngIf="formularioEndereco.controls['cidade'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioEndereco.controls['cidade'].value" matSuffix mat-icon-button
                              aria-label="Clear" (click)="formularioEndereco.controls['cidade'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-4">
                    <mat-form-field appearance="legacy">
                      <mat-label>Complemento</mat-label>
                      <textarea matInput formControlName="complemento"></textarea>
                      <button mat-button *ngIf="formularioEndereco.controls['complemento'].value" matSuffix
                              mat-icon-button
                              aria-label="Clear" (click)="formularioEndereco.controls['complemento'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <mat-card-header>
                <mat-card-title>
                  Contato
                </mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              <form [formGroup]="formularioContato">
                <div class="row" style="margin-left: 5%">
                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>Email</mat-label>
                      <input matInput type="email" formControlName="email" required>
                      <mat-error
                        *ngIf="formularioContato.controls['email'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioContato.controls['email'].value" matSuffix mat-icon-button
                              aria-label="Clear" (click)="formularioContato.controls['email'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>

                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>Telefone</mat-label>
                      <input matInput type="text" formControlName="telefone">
                      <button mat-button *ngIf="formularioContato.controls['telefone'].value" matSuffix
                              mat-icon-button aria-label="Clear"
                              (click)="formularioContato.controls['telefone'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field appearance="legacy">
                      <mat-label>Celular</mat-label>
                      <input matInput type="text" formControlName="celular" required>
                      <mat-error
                        *ngIf="formularioContato.controls['celular'].hasError('required')"> {{ 'Campo obrigatório.'}}
                      </mat-error>
                      <button mat-button *ngIf="formularioContato.controls['celular'].value" matSuffix
                              mat-icon-button aria-label="Clear"
                              (click)="formularioContato.controls['celular'].reset()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <div class="row">
                <div class="col-xs-6 col-sm-8 col-md-12 col-lg-12">

                  <div class="float-right three-button">
                    <button type="button" class="button-refresh" [routerLink]="['/cliente-list']" mat-raised-button>
                      <mat-icon>keyboard_backspace</mat-icon>
                      Voltar
                    </button>
                  </div>

                  <div class="float-right three-button">
                    <button type="button" class="button-refresh" mat-raised-button (click)="clearAll()">
                      <mat-icon>autorenew</mat-icon>
                      Limpar
                    </button>
                  </div>

                  <div class="float-right three-button">
                    <button type="button" mat-raised-button (click)="salvar()" color="primary">
                      <mat-icon>check_circle_outline</mat-icon>
                      Salvar
                    </button>
                  </div>

                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
